@using Microsoft.AspNet.Identity
@using WebApplication3.Context
@using WebApplication3.Models

@{
    ViewBag.Title = "Home Page";
}

<form action="/PostModels/Create" method="post">

    @Html.AntiForgeryToken()

    <h1>Início</h1>
    <hr />


    <div class="panel panel-default col-md-12 col-sm-12 col-lg-12 col-xs-12" style="padding:0px;">
        <div class="panel-heading col-md-12 col-sm-12 col-lg-12 col-xs-12 h3" style="margin-top:0px;">Diga o que está pensando...</div>
        <div class="panel-body">
            <input class="form-control text-box single-line" id="PostDetails" name="PostDetails" type="text" value="">
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="PostPicture">Inserir uma imagem</label>
            <div class="col-md-9">

                <input id="PostPictureInput" name="PostPictureInput" type="file" class="inputFile" aria-describedby="fileHelp">

                <img class="hidden" id="PostPicturePreview">

                <div class="hidden">
                    <input class="form-control text-box single-line" id="PostPicture" name="PostPicture" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="PostPicture" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success pull-right" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            @{
                WebApplication3.Context.AppContext db = new WebApplication3.Context.AppContext();
                Guid identityId = new Guid(User.Identity.GetUserId());
                ProfileModel profileLoggedModel = db.AccountProfileModel.Find(identityId);
                var postModel = db.PostModel.OrderByDescending(c => c.PostCreationTime).ToList();
                foreach (var i in postModel)
                {
                    Guid currentPostModel = new Guid(i.PostCreator);
                    var currentProfileModel = db.AccountProfileModel.Find(currentPostModel);
                    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                        <div class="card card-inverse card-info">
                            <img class="card-img-top" src="@i.PostPicture">
                            <div class="card-block">

                                @if (i.PostPicture == null)
                                {
                                    <a href="/ProfileModels/Details/@currentProfileModel.ProfileId">
                                        <figure class="profile profile-inline">
                                            <img src="@currentProfileModel.ProfilePicture" class="profile-avatar" alt="">
                                        </figure>
                                        <h4 class="card-title">@currentProfileModel.ProfileUserName</h4>
                                    </a>
                                }
                                else
                                {
                                    <a href="/ProfileModels/Details/@currentProfileModel.ProfileId">
                                        <figure class="profile">
                                            <img src="@currentProfileModel.ProfilePicture" class="profile-avatar" alt="">
                                        </figure>
                                        <h4 class="card-title mt-3">@currentProfileModel.ProfileUserName</h4>
                                    </a>
                                }
                                    <div class="card-text">
                                        @i.PostDetails
                                    </div>
                                </div>
                            <div class="card-footer">
                                <small>@i.PostCreationTime</small>
                                <a href="/ProfileModels/Details/@currentProfileModel.ProfileId">
                                    <button type="button" class="btn btn-info float-right btn-sm">Perfil</button>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/postfileuploader")
}