@model WebApplication3.Models.PostModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PostModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostCreationTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCreationTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostCreator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCreator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostPicture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostPicture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostLikes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostLikes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
