@model IEnumerable<WebApplication3.Models.PostModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostCreationTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostCreator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostPicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostLikes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PostCreationTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostCreator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostPicture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostLikes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PostId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PostId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PostId })
        </td>
    </tr>
}

</table>
