@model WebApplication3.Models.ProfileModel

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar</h2>

<h3>Você tem certeza que deseja deletar seu perfil?<br />
    <small>Todas as postagens serão deletadas, assim como seus comentários.</small></h3>
<div>
    <hr />
    <div>
        <div id="profileHeader">

            <img id="profileBackgroundPictureImg" src="@Url.Content(Model.ProfileBackgroundPicture)" alt="Profile Background Picture" />

            <div id="profilePictureImgContainer">
                <img id="profilePictureImg" src="@Url.Content(Model.ProfilePicture)" alt="Profile Picture" />
            </div>

        </div>

        <div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ProfileUserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProfileUserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ProfileGender)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProfileGender)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ProfileCreationTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProfileCreationTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ProfileEmail)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProfileEmail)
                </dd>

            </dl>

        </div>

    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" value="Deletar" class="btn btn-danger">Deletar</button>
        </div>
    }

    @using (Html.BeginForm("Details", "ProfileModels", new { id = Model.ProfileId })) {
        <div class="form-actions no-color">
            <button type="submit" class="btn btn-default">Detalhes</button>
        </div>
    }