@model IEnumerable<WebApplication3.Models.ProfileModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProfileUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfileCreationTime)
        </th>
        <th>
            @*Não apagar, é para haver a última coluna*@
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileCreationTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProfileId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProfileId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProfileId })
        </td>
    </tr>
}

</table>